#!/usr/bin/make -f
# debian/rules for libcommons-jexl-java (uses CDBS)

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/maven.mk

JAVA_HOME            := /usr/lib/jvm/default-java/
CLASSPATH            := .:/usr/share/java/maven-resources-plugin.jar:/usr/share/java/maven-compiler-plugin.jar:/usr/share/java/javacc-maven-plugin.jar:/usr/share/java/javacc.jar:/usr/share/java/bsf.jar
DEB_JARS             := javacc junit commons-logging ant ant-launcher bsf
DEB_ANT_BUILD_TARGET := jar
#DEB_ANT_TEST_TARGET := test
ANT_OPTS             := -Dant.build.javac.source=1.5 -Dant.build.javac.target=1.5
PACKAGE              := commons-jexl2
MAVEN_REPO           := http://repo1.maven.org/maven2

LIBRARY=commons-jexl2

binary-post-install/lib$(PACKAGE)-java::
	mh_installpoms -plib$(PACKAGE)-java
	mh_installjar -plib$(PACKAGE)-java -l pom.xml target/$(PACKAGE)-$(DEB_UPSTREAM_VERSION).jar 

get-orig-source::
	uscan --verbose --force-download --rename

get-orig-pom:
	mkdir -p debian/poms
	wget  -U NoSuchBrowser/1.0 -O debian/poms/$(PACKAGE).pom \
		$(MAVEN_REPO)/commons-jexl/$(PACKAGE)/$(DEB_UPSTREAM_VERSION)/$(PACKAGE)-$(DEB_UPSTREAM_VERSION).pom
